body {
  /* background-color: black; */
  /* background-color: #343a40; */
  background-color: #718793;
    font-family: 'Molengo', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 300;
  line-height: 1.2;
}

.small {
  font-weight: 300;
  font-style: italic;
}


/* .card-columns {
  /* display: inline-block; */
  /* width: 50%;
} */ 

/* .banner-bg {
  background-image: url('./bannerbg.jpg');  
}  */

.card-columns, .smallerCards {
  column-count: 5;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  grid-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;

}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: rgb(61, 6, 6);
  border-color: rgb(61, 6, 6)
}
.btn-info {
  color: #fff;
  background-color: yellowgreen;
  border-color: yellowgreen
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.bg-dark {
  background-color: #1e466d!important;
}

.image{
  margin-left: 30px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #e3e3e3;
  border-radius: 30%;
  overflow: hidden;
  margin-top: 30px;
  /* width: calc(((500vw - 260px - 80px - 64px) / 2)); */
}
.container {
  width: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  /* word-wrap: break-word; */
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  
}


.card-columns .card {
    display: inline-block;
    width: 100%;
    border-radius: 10%;
}

.card-img, .card-img-bottom, .card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  border-radius: 10%;
}

.h5, h5 {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 100;
}

.card-body {
  flex: 1 1 auto;
  /* min-height: 1px; */
  /* padding: 1.25rem; */
}
input[type= "radio"]{
  display: none
}