body {
  /* background-color: #343a40; */
  /* background-color: #FF4500; */
    font-family: 'Molengo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* .card-columns {
  /* display: inline-block; */
  /* width: 50%;
} */ 

/* .banner-bg {
  background-image: url('./bannerbg.jpg');  
}  */

/* .card-columns  */
.smallerCards{
  column-count: 5;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  grid-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}