body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 120%;
}


.card-columns {
  column-count: 5;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  grid-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: rgb(61, 6, 6);
  border-color: rgb(61, 6, 6)
}
.btn-info {
  color: #fff;
  background-color: yellowgreen;
  border-color: yellowgreen
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.bg-dark {
  background-color: #1e466d!important;
}